<div class="master-wrapper">
  <div class="preloader">
    <div class="preloader-img">
      <span class="loading-animation animate-flicker">
        <%= image_tag("loading.GIF") %>
      </span>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top fadeInDown">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="nav navbar-nav text-center">
          <li><a href="#welcome" class="page-scroll smoothie">Welcome</a></li>
          <li><a href="#wedding-date" class="page-scroll smoothie">Date</a></li>
          <li><a class="navbar-brand smoothie" href="index.html">We're Getting Married!</a></li>
          <li><a href="#faq" class="page-scroll smoothie">FAQ</a></li>
          <li><a href="#rsvp" class="page-scroll smoothie">RSVP</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div id="search-wrapper">
    <button type="button" class="close">×</button>
    <form>
      <input type="search" value="" placeholder="Enter Search Term" />
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>

  <!-- Header -->
  <header id="headerwrap" class="backstretched fullheight">
    <canvas id="fettiwrap"></canvas>
    <div class="container vertical-center">
      <div class="intro-text vertical-center text-center smoothie">

        <div class="intro-heading wow fadeIn heading-font"><span class="secondary-font">Celebrating</span>Stephen and Jenny</div>
      </div>
    </div>
  </header>

  <section id="welcome">
    <div class="section-inner">

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center mb100 wow fadeIn">                        
            <h2 class="section-heading">Stephen and Jenny</h2>
            <hr class="thin-hr">
            <h3 class="section-subheading secondary-font">Join us on our special occasion.</h3>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-1 wow fadeIn">
            <img src="assets/him.jpeg" class="img-responsive mb30" />
            <p class="text-center">Quite the stud </p>
          </div>

          <div class="col-md-5 wow fadeIn">
          <img src="assets/her.jpeg" class="img-responsive mb30" />
            <p class="text-center">Quite the chick </p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="light-wrapper light-opaqued parallax" data-parallax="scroll" data-image-src="assets/bg/bg8.jpg" data-speed="0.7">
    <div class="section-inner">
      <div class="wow fadeIn">
        <div class="container text-center the-date">
          <div class="row">
            <div class="col-xs-12">
             <p class="lead a-quote secondary-font">Falling in love was the easy part; planning a wedding - yikes!</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

 <section id="wedding-date"class="light-wrapper">
  <div class="section-inner">
    <div class="wow fadeIn">
      <div class="container text-center">
        <div class="row">
          <div class="col-xs-12" role="tabpanel">
            <div class="row">
              <div class="col-xs-4 col-sm-12">
                <!-- Nav tabs -->
                <ul class="nav nav-justified icon-tabs" id="nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#when" aria-controls="daksh" role="tab" data-toggle="tab">
                     <span class="tabtitle heading-font">The Date</span>
                   </a>
                 </li>
                 <li role="presentation">
                  <a href="#where" aria-controls="dustin" role="tab" data-toggle="tab">
                    <span class="tabtitle heading-font">The Location</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-xs-8 col-sm-12 mt60">
              <!-- Tab panes -->
              <div class="tab-content" id="tabs-collapse">                                  
                <div role="tabpanel" class="tab-pane fade in active" id="when">
                  <div class="tab-inner">
                    <p class="lead secondary-font">13th August 2016</p>   
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="where">
                  <div class="tab-inner">        
                    <div class="row">
                      <div class="col-sm-5 col-sm-offset-1 text-left">           
                        <p class="lead">Emerald Hills</p>
                        <p><!-- Upper Concourse --></p>
                        <p>14001 Concession #5</p>
                        <p>Whitchurch-Souffville</p>
                        <p>L4A 7X5</p>
                      </div>     
                      <div class="col-sm-5">
                        <div id="mapwrapper">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2870.2622178689253!2d-79.3660438841891!3d43.99530493825871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d52c9566a7e4ef%3A0x6dfac62c30008a01!2sEmerald+Hills+Golf+Club!5e0!3m2!1sen!2sca!4v1454371165621" width="463" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>                                                       
                        </div>    
                      </div>   
                    </div>      
                  </div>
                </div>
              </div>
            </div>   
          </div>     
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/bg/bg5.jpg" data-speed="0.7">
  <div class="section-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb100 wow fadeIn">
          <h2 class="section-heading">Well Wishes</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="1" data-items-desktop="[1200,1]" data-items-desktop-small="[980,1]" data-items-tablet="[768,1]" data-items-mobile="[479,1]">
            <li>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 item-caption">
                  <div class="row">
                    <div class="col-xs-3">
                      <div>
                        <%= image_tag("team/small2.jpg", class: "img-responsive testimonial-author") %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <p class="lead">Monotonectally exploit holistic markets after pandemic niches. Collaboratively expedite long-term high-impact results whereas equity invested growth strategies. Intrinsicly underwhelm 24/365 strategic theme areas with proactive synergy. </p>
                      <p class="lead secondary-font">Charles Davies</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 item-caption">
                  <div class="row">
                    <div class="col-xs-3">
                      <div>
                        <%= image_tag("team/small1.jpg", class: "img-responsive testimonial-author") %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <p class="lead">Monotonectally exploit holistic markets after pandemic niches. Collaboratively expedite long-term high-impact results whereas equity invested growth strategies. Intrinsicly underwhelm 24/365 strategic theme areas with proactive synergy. </p>
                      <p class="lead secondary-font">Charles Davies</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="faq">
  <div class="section-inner">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb100 wow fadeIn">                        
          <h2 class="section-heading">FAQ</h2>
          <hr class="thin-hr">
          <h3 class="section-subheading secondary-font">How our day will look like.</h3>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="3" data-items-desktop="[1200,3]" data-items-desktop-small="[980,3]" data-items-tablet="[768,3]" data-items-mobile="[479,2]">
            <li>
              Contact the Bride: <br />
              Jenny Zeng <br />
              jenny@jennyzeng.ca
            </li>
            <li>
              Contact the Groom:
              <br />
              Stephen Chang
              <br />
              stephen@stephenchang.ca
            </li>
            <li>
              <%= image_tag("logo/logo3.png", class: "img-responsive") %>
            </li>
            <li>
              <%= image_tag("logo/logo4.png", class: "img-responsive") %>
            </li>
            <li>
              <%= image_tag("logo/logo5.png", class: "img-responsive") %>
            </li>
            <li>
              <%= image_tag("logo/logo6.png", class: "img-responsive") %>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="instafeed-wrapper dark-wrapper">
  <div id="instafeed"></div>
  <div class="instafeed-overlay">
    <div class="vertical-center">
      <p class="lead secondary-font">Share the memories</p>
    </div>
  </div>
</section>

<footer id="rsvp" class="white-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="footer-goodbye">We look forward to seeing you!</h4>
      </div>

      <hr class="col-sm-12 thin-hr" />

      <div class="col-sm-10 col-sm-offset-1 section-inner">

        <div id="message"></div>
        <form method="post" action="sendemail.php" id="contactform" class="main-contact-form wow fadeIn" data-wow-delay="0.2s">
          <input type="text" class="form-control col-md-6" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
          <input type="text" class="form-control col-md-6" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
          <textarea name="comments" class="form-control" id="comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
          <input class="btn btn-primary mt30" type="submit" name="submit" value="Submit" />
        </form>
      </div>

      <div class="col-md-12 text-center wow fadeIn">
        <span class="copyright">Copyright 2015. Designed by Stephen Chang</span>
      </div>
    </div>
  </div>
</footer>

</div>


<script type="text/javascript">
  $(document).ready(function(){
   $('#headerwrap').backstretch([
      "assets/bg-1.jpeg",
      "assets/bg-2.jpeg",
      "assets/bg-3.jpeg",
      "assets/bg-4.jpeg"
    ], {duration: 3000, fade: 500});
 });
</script>